* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color-black;
    font-family: "Rubik";
}

@font-face {
    font-family: "Rubik";
    font-display: swap;
    src: url(../font/Rubik-Regular.ttf);
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background: $color-gray;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem - 1rem rgba(0, 0, 0, .5);
}